*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

 .flex{
    margin: 5%;
    width: 70vw;
    height: 70vh;
    color: aqua;
    border:  2px black solid;
    background-color: blue;
 }
 .box{
     height: 40px;
       width: 40px;   
     background-color: black;
 }
 /* .flex{ 
     display: flex; 
     flex-direction: column-reverse;   
     gap: 2px;
      flex-wrap: wrap; 
     align-content: center;
     justify-content:center ;   
 }
  .b2{
    order: -1; 
  }
 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    
 }  
 */
.flex{
     display: grid;  
     /* grid-auto-flow: row; */
     /* grid-template-columns: repeat(4,2fr); */

     /* grid-template-columns: 1fr 1fr 1fr  ; */
     grid-template-areas: 
     "hd hd hd hd "
     "c1 c2 c3 c4 "
     "ft ft ft ft ";

}

 /* .b1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:  3;
}  */
/* .b1{
    grid-column: 1/3;
    grid-row: 1/3;
} */

.b1{
    grid-area: hd;
}
.b2{
    grid-area: ft;
}
.b3{
    grid-area: c4;
}
.b4{
    grid-area: c3;
}