*{
    margin: 0%;
    padding: 0%;
}

 /* transistion  */
/* #animation{
    width: 100px;
    height: 100px;
    margin: 5%;
    background-color: aqua;
    transition-property: all ;
    transition-delay: 2s;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;  5
  transition: 3s 2s ease-in-out;
  
       
}

#animation:hover {
    background-color: blue;
    width: 200px;
    height: 200px;
} */
  /* Animation */

  #animation{
   border-radius: 50%;
   width: 100px;
   height: 100px;
   background-color: aqua;
   animation-name: mutta;
   /* animation-duration: 3s;
   animation-delay: 1s; 
   animation-iteration-count: 2;
   animation-fill-mode: forwards; 
    */
   position: absolute; 
   animation: mutta 3s 2 forwards;
   animation-timing-function: ease-in-out;
    
  }
   @keyframes mutta{
      100%{
        width: 200px;
        height: 200px;
        top: 10%;
        left: 0px;
      }
      50%{
        width: 100px;
        height: 100px;
        top: 0%;
        left: 50%;
      }
      25%{
        width: 50px;
        height: 50px;
        top: 0px;
        left: 0px;
      }


   }



 
