*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}
.align{
    text-align: justify;
    text-decoration:underline;
    text-transform: capitalize; 
    letter-spacing: 1px; 
}
.align{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva,
     Verdana, sans-serif;
     font-weight: bolder;
     font-size: 20px;
     font-style: italic;
}
.align:hover{
    color: aqua;
}

.align{
    /* display: block; */
    display: hidden;
    background-color: blue;
}
b{
    display: inline;
    color: brown;
}
 .cont1{
    margin: 5% auto;
    height: 70vh;
    width: 50vw;
    
    border: 2px  black solid;
 }

.cont2{
    margin: 5% auto;
    height: 50vh;
    width: 30vw;
    border: 2px  red solid;
    /* position: relative; */
 }
  .box{
    width: 100px;
    height: 100px;
    background-color: aqua;
  }
 
  .ab{
    background-color: black;
    position: absolute;
    top: 100px;
    left: 100px;
  }
.fix{
    position: fixed;
    background-color: chartreuse;
   bottom: 0%;
   left: 0%;
}
.sit{
    position: sticky;
    top: 0%;
    background-color: blueviolet;
}





